<li class="speaker pure-g">
    <img class="speaker-photo pure-u" src="/img/people/{{photo}}">

    <div class="speaker-info pure-u">
        <h3 class="speaker-name">{{name}}</h3>
        <a class="speaker-org" href="{{orgUrl}}">{{org}}</a><br>
        <span class="speaker-title">{{title}}</span>
    </div>
</li>
