<li class="speaker pure-g">
    <img class="speaker-photo pure-u" src="/img/people/{{speaker.photo}}">

    <div class="speaker-info pure-u">
        <h3 class="speaker-name">
            {{speaker.name}}
        </h3>

        <a class="speaker-org" href="{{speaker.orgUrl}}">{{speaker.org}}</a><br>
        <span class="speaker-title">{{speaker.title}}</span>
    </div>
</li>
