<!doctype html>
<html lang="en">
<head>
    {{> meta}}

    <title>{{title}}</title>
    <meta name="description" content="{{title}}: {{brand}}. {{> about}}">

    {{> twitter-meta}}
    {{> facebook-meta}}

    {{> styles}}
    {{> typekit}}
    {{> google-analytics}}
</head>
<body>

    <div class="brand l-wrap">
        <b class="brand-name">
            <span class="brand-name-part">Economic Growth</span>
            <span class="brand-name-sep">&amp;</span>
            <span class="brand-name-part">Environmental Constraints</span>
        </b>

        <img class="brand-mark" src="/img/logo.svg">
    </div>

    <div class="event">
        <div class="l-wrap">
            <h1 class="event-title">
                <span class="event-title-part">Investing in a</span>
                <span class="event-title-part">Sustainable Future</span>
            </h1>

            <h2 class="event-spacetime">
                <span class="event-location">Cambridge</span>
                <span class="event-spacetime-sep">&bull;</span>
                <span class="event-day">
                    {{eventDay event.start}}

                    <p class="event-time">
                        {{eventTime event.start event.end}}
                    </p>
                </span>
            </h2>

            {{> attend-button}}

            <ul class="menu pure-g">
                <li class="menu-item pure-u">
                    <a href="#speakers"><b>Speakers</b></a>
                </li>
                <li class="menu-item pure-u">
                    <a href="#schedule"><b>Schedule</b></a>
                </li>
                <li class="menu-item pure-u">
                    <a href="#venue"><b>Venue</b></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="l-wrap">
        <h2>About the Conference</h2>

        <p class="content">
            {{> about}}
        </p>
        <p class="content">
            A particular focus will be on investment: Can socially motivated investments lead to changes in the overall quality and direction of economic activity? How can investments help reduce resource extraction and consumption, promoting a sustainable future?
        </p>

        <h2 id="speakers">Guest Speakers</h2>

        <p class="content">
            {{> about-speakers}}
            <a href="/speakers/">More about the speakers&hellip;</a>
        </p>

        <ul class="speakers">
          {{#each speakers}}
            <li class="speaker pure-g">
                <a class="speaker-photo pure-u" href="/speakers/#{{id}}"
                   title="More about {{firstName}}">
                    <img src="/img/people/{{photo}}">
                </a>

                <div class="speaker-info pure-u">
                    <h3 class="speaker-name">
                        <a href="/speakers/#{{id}}" title="More about {{firstName}}">
                            {{name}}
                        </a>
                    </h3>

                    <a class="speaker-org" href="{{org.url}}">{{org.name}}</a><br>
                    <span class="speaker-title">
                        {{title}},
                        <a href="/speakers/#{{id}}" title="More about {{firstName}}">
                            more&hellip;
                        </a>
                    </span>
                </div>
            </li>
          {{/each}}
        </ul>

        <h2>Topics to be Discussed</h2>

        <ul class="topics content">
            <li>Social, economic, and environmental justice</li>
            <li>Pathways toward sustainable agriculture and clean energy</li>
            <li>Links between investments, growth, and environmental sustainability</li>
            <li>Effects of ownership structures on growth and the environment</li>
            <li>Developing a sharing economy</li>
            <li>The power of socially responsible investing</li>
            <li>Corporate social responsibility and sustainability initiatives</li>
            <li>How to define, reach, and maintain a practical and sustainable economic scale</li>
        </ul>

        <h2 id="schedule">Schedule</h2>

        <ol class="schedule">
          {{#each schedule}}
            <li class="meeting pure-g
                       {{~#if minor}} is-minor-meeting {{~/if~}}
                       {{~#if @first}} is-first-meeting {{~/if~}}
                       {{~#if @last}} is-last-meeting {{~/if~}}">
                <span class="meeting-time pure-u">
                    {{time}}
                </span>

                <span class="meeting-info pure-u">
                  {{#if minor}}
                    <span class="meeting-title">{{title}}</span>
                  {{else}}
                    <b class="meeting-title">{{title}}</b>
                  {{/if}}

                  {{#if speaker}}
                    <span class="meeting-speaker">{{speaker}}</span>
                  {{/if}}
                </span>
            </li>
          {{/each}}
        </ol>

        {{> attend-button}}
    </div>

    <div id="venue" class="venue">
        <div class="venue-info">
          {{#with event.venue}}
            <h2 class="venue-title">
                <span class="venue-label">Venue:</span>
                <a class="venue-name" href="{{addressURL address}}">{{name}}</a>
            </h2>

            <div class="pure-g">
                <p class="venue-address pure-u-1-2">
                  {{#with address}}
                    <a href="{{addressURL this}}">
                        {{address_1}}<br>
                        {{city}}, {{region}}
                    </a>
                  {{/with}}

                    <span class="venue-parking">
                        <a href="http://en.parkopedia.com/parking/garage/technology_square_garage/02139/cambridge/">
                            Parking Info
                        </a>
                    </span>
                </p>

                <p class="venue-transit pure-u-1-2">
                    MBTA Station:<br>
                    <a href="http://www.mbta.com/schedules_and_maps/subway/lines/stations/default.asp?stopId=12412">
                        Kendall/MIT
                    </a>
                </p>
            </div>
          {{/with}}
        </div>

        <div id="map"></div>
    </div>

    <div class="l-last l-wrap">
        <h2>Sponsors</h2>

        <ul class="sponsors pure-g">
            <li class="sponsor pure-u">
                <a href="http://steadystate.org/">
                    <img class="sponsor-logo" src="/img/sponsors/casse.png">
                </a>
            </li>
            <li id="new_economy" class="sponsor pure-u">
                <a href="http://neweconomy.scripts.mit.edu/home/">
                    <img class="sponsor-logo" src="/img/sponsors/new_economy.png">
                    New Economy @ MIT
                </a>
            </li>
        </ul>

        <div class="share-buttons pure-g">
            <div class="share-button pure-u">{{> tweet-button}}</div>
            <div class="share-button pure-u">{{> facebook-button}}</div>
        </div>
    </div>

    <script>
        {{{state}}}
    </script>
    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/{{mapbox}}/mapbox.css">
    <script src="//api.tiles.mapbox.com/mapbox.js/{{mapbox}}/mapbox.js"></script>
    <script src="/app.js"></script>

</body>
</html>
