<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <meta name="description" content="{{title}}: {{brand}}">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure}}/pure-min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/{{mapbox}}/mapbox.css">

    <script src="http://use.typekit.net/{{typekit}}.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>
</head>
<body>

    <div class="brand l-wrap">
        <b class="brand-name">
            <span class="brand-name-part">Economic Growth</span>
            <span class="brand-name-sep">&amp;</span>
            <span class="brand-name-part">Environmental Constraints</span>
        </b>

        <img class="brand-mark" src="/img/logo.svg">
    </div>

    <div class="event">
        <div class="l-wrap">
            <h1 class="event-title">
                <span class="event-title-part">Investing in a</span>
                <span class="event-title-part">Sustainable Future</span>
            </h1>

            <h2 class="event-spacetime">
                <span class="event-location">Cambridge</span>
                <span class="event-spacetime-sep">&bull;</span>
                <span class="event-day">
                    {{eventDay event.start}}

                    <p class="event-time">
                        {{eventTime event.start event.end}}
                    </p>
                </span>
            </h2>

            <p class="event-cta">
                <a class="event-attend pure-button" href="{{event.url}}">Attend</a>
            </p>
        </div>
    </div>

    <div class="l-wrap">
        <h2>About the Conference</h2>

        <p class="event-desc">
            The goal of this conference is to stimulate thinking and discussion about the relationship between economic activity and environmental impacts. A particular focus will be on investment: Can socially motivated investments lead to changes in the overall quality and direction of economic activity? How can investments help reduce resource extraction and consumption, promoting a sustainable future?
        </p>

        {{!-- <h2>Speakers</h2>
        <h2>Sponsors</h2> --}}
    </div>

    <div class="venue">
        <div class="venue-info">
          {{#with event.venue}}
            <h2 class="venue-title">
                <span class="venue-label">Venue:</span>
                <span class="venue-name">{{name.text}}</span>
            </h2>

            <p class="venue-address">
                <a href="http://maps.apple.com/?q={{address_1}}+{{city}}+{{postal_code}}">
                    {{address_1}}<br>
                    {{city}}, MA {{postal_code}}
                </a>
            </p>
          {{/with}}
        </div>

        <div id="map"></div>
    </div>

    <script src="//api.tiles.mapbox.com/mapbox.js/{{mapbox}}/mapbox.js"></script>
    <script src="/app.js"></script>

</body>
</html>
