<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure}}/pure-min.css">
    <link rel="stylesheet" href="/style.css">

    <script src="http://use.typekit.net/{{typekit}}.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>
</head>
<body>

    <div class="brand l-wrap">
        <b class="brand-name">
            <span class="brand-name-part">Economic Growth</span>
            <span class="brand-name-sep">&amp;</span>
            <span class="brand-name-part">Environmental Constraints</span>
        </b>

        <img class="brand-mark" src="/img/logo.svg">
    </div>

    <div class="l-wrap">
        <h1 class="event-title">
            <span class="event-title-part">Investing in a</span>
            <span class="event-title-part">Sustainable Future</span>
        </h1>

        <h2 class="event-spacetime">
            <span class="event-location">Cambridge</span> &bull;
            <span class="event-time">{{eventDay event.start}}</span>
        </h2>

        <p class="event-cta">
            <a class="event-attend pure-button" href="{{event.url}}">Attend</a>
        </p>
    </div>

    {{!-- <p>{{eventDay event.start}}</p>
    <p>{{eventTime event.start event.end}}</p> --}}

</body>
</html>
