<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <meta name="description" content="{{title}}: {{brand}}">
    <meta name="generated" content="{{_now}}">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure}}/pure-min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/{{mapbox}}/mapbox.css">

    <script src="http://use.typekit.net/{{typekit}}.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>
</head>
<body>

    <div class="brand l-wrap">
        <b class="brand-name">
            <span class="brand-name-part">Economic Growth</span>
            <span class="brand-name-sep">&amp;</span>
            <span class="brand-name-part">Environmental Constraints</span>
        </b>

        <img class="brand-mark" src="/img/logo.svg">
    </div>

    <div class="event">
        <div class="l-wrap">
            <h1 class="event-title">
                <span class="event-title-part">Investing in a</span>
                <span class="event-title-part">Sustainable Future</span>
            </h1>

            <h2 class="event-spacetime">
                <span class="event-location">Cambridge</span>
                <span class="event-spacetime-sep">&bull;</span>
                <span class="event-day">
                    {{eventDay event.start}}

                    <p class="event-time">
                        {{eventTime event.start event.end}}
                    </p>
                </span>
            </h2>

            {{> attend-button}}
        </div>
    </div>

    <div class="l-wrap">
        <h2>About the Conference</h2>

        <p class="event-desc">
            The goal of this conference is to stimulate thinking and discussion about the relationship between economic activity and environmental impacts.
        </p>
        <p class="event-desc">
            A particular focus will be on investment: Can socially motivated investments lead to changes in the overall quality and direction of economic activity? How can investments help reduce resource extraction and consumption, promoting a sustainable future?
        </p>

        <h2>Speakers</h2>

        <ul class="speakers">
          {{#speaker
                name   = "Brian Czech"
                title  = "Founding President"
                org    = "Center for the Advancement of the Steady State Economy (CASSE)"
                orgUrl = "http://steadystate.org/"}}

            {{> speaker}}
          {{/speaker}}

          {{#speaker
                name   = "John Gowdy"
                title  = "Rittenhouse Teaching Professor of Humanities and Social Sciences, Department of Economics"
                org    = "Rensselaer Polytechnic Institute"
                orgUrl = "http://www.economics.rpi.edu/"}}

            {{> speaker}}
          {{/speaker}}

          {{#speaker
                name   = "Sonia Kowal"
                title  = "Director of Socially Responsible Investing"
                org    = "Zevin Asset Management"
                orgUrl = "http://www.zevin.com/"}}

            {{> speaker}}
          {{/speaker}}

          {{#speaker
                name   = "Marjorie Kelly"
                title  = "Senior Fellow and Director of Consultancy Services"
                org    = "Democracy Collaborative"
                orgUrl = "http://democracycollaborative.org/"}}

            {{> speaker}}
          {{/speaker}}
        </ul>

        <h2>Topics to be Discussed</h2>

        <div class="topics">
            <ul>
                <li>Social, economic, and environmental justice</li>
                <li>Pathways toward sustainable agriculture and clean energy</li>
                <li>Links between investments, growth, and environmental sustainability</li>
                <li>Effects of ownership structures on growth and the environment</li>
                <li>Developing a sharing economy</li>
                <li>The power of socially responsible investing</li>
                <li>Corporate social responsibility and sustainability initiatives</li>
                <li>How to define, reach, and maintain a practical and sustainable economic scale</li>
            </ul>

            <p>
                Each of our guest speakers has well-developed perspectives on several of these themes, and we look forward to lively and interactive discussions.
            </p>
        </div>

        {{> attend-button}}
    </div>

    <div class="venue">
        <div class="venue-info">
          {{#with event.venue}}
            <h2 class="venue-title">
                <span class="venue-label">Venue:</span>
                <span class="venue-name">{{name}}</span>
            </h2>

            <p class="venue-address">
              {{#with address}}
                <a href="http://maps.apple.com/?q={{address_1}}+{{city}}+{{region}}">
                    {{address_1}}<br>
                    {{city}}, {{region}}
                </a>
              {{/with}}
            </p>
          {{/with}}
        </div>

        <div id="map"></div>
    </div>

    <div class="l-wrap">
        <h2>Event Sponsors</h2>

        <ul class="sponsors pure-g">
            <li class="sponsor pure-u">
                <a href="http://steadystate.org/">
                    <img class="sponsor-logo" src="/img/sponsors/casse.png">
                </a>
            </li>
            <li id="new_economy" class="sponsor pure-u">
                <a href="http://neweconomy.scripts.mit.edu/home/">
                    <img class="sponsor-logo" src="/img/sponsors/new_economy.png">
                    New Economy @ MIT
                </a>
            </li>
        </ul>
    </div>

    <script src="//api.tiles.mapbox.com/mapbox.js/{{mapbox}}/mapbox.js"></script>
    <script src="/app.js"></script>

</body>
</html>
